/*RESET*/
nav, li {list-style: none;}
a {text-decoration: none; cursor: pointer;}
body {margin: 0; background-color: #ffb800; width: 100%; font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 1.5em; font-weight: 700;}
p {margin-top: 15px; margin-bottom: 15px; font-weight: bold;}
button {margin-top: 15px;}
/*FIM RESET*/

/*Header*/
header {color: white; display: flex; flex-direction: row; align-items: flex-start; height: 200px; padding: 10px 0px;}
nav {color: white;}

.logo {
    margin-left: 20px;
    height: 30px;
}

.item {
    flex-grow: 1;
}

.article-01 {padding-left: 20px; flex-grow: 2;}
.article-02 {flex-grow: 3; margin-left: 15px;}
.article-03 {}

@media (max-width: 700px) {
    header {font-size: 0.8em;}
}


/*CONTEUDO*/
.conteudo {
    background-color: rgb(230, 230, 230);
    height: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    align-content: space-around;
    margin-top: -70px;
}

.form-select form-select-sm {
    max-width: 200px;
}

#icon {
    width: 35px;
    height: auto;
    
}

.melhor-credito {
    background-color: white;
    border-radius: 30px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    
}

.cliente {
    background-color: white;
    border-radius: 30px;
    padding: 20px 20px;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
}

#user {
    width: 55px;
    height: auto;

}

.nome-cliente {
    margin-left: 20px;
}

#logo-check {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.status {
    margin-top: 30px;
    display: flex;
}

.status-pedido p{
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
